table{
   
   width: 100%;
   height: 500px    ;

}

td,tr{
    border: 2px solid black;
    margin: none;
    text-align: center;
    

}
td{
    margin:0
}


.nones{
    border: none;
}

.pink{
    background-color: rgb(240, 138, 155);
}

.orange{
    background-color: rgb(241, 169, 101);
}

.yellow{
    background-color: rgb(212, 212, 57);
}

.yellow_2{
    background-color: yellow;
}

.yellow_3{
    background-color: rgb(252, 252, 138);
}

.div_class{
    height:200px;
    width: 200px;
background-color: red;
}

.green{
    background-color: rgb(97, 236, 97);
}

.yellow_4{
    background-color: rgb(238, 238, 96);
}

.green_2{
    background-color: rgb(202, 247, 134);
}

.sky{
    background-color: rgb(139, 222, 255);
}

.sky_2{
    background-color: rgb(174, 174, 243);
}

.sky_3{
    background-color: rgb(122, 122, 250);
}


.pink_2{
    background-color: rgb(204, 135, 204)
    ;}


.pink_3{
    background-color: rgb(224, 181, 224);
}

.pink_p2{
    background-color: rgb(197, 54, 197);
}

.pink_p3{
    background-color: rgb(245, 25, 245);
}
.pink_p{
    background-color: rgb(235, 87, 111);
}

.orange_2{
    background-color: rgb(235, 98, 48);
}